#atlas {
  background: url('Art/2DArt/Atlas/Atlas.png');
  width: 2048px;
  height: 1152px;
}

.seal {
  background-image: url('Art/2DItems/Currency/SealWhite.png');
}

.seal.toggle {
  background-image: url('Art/2DItems/Currency/SealRed.png');
}

.sextant {
  background-image: url('Art/2DItems/Currency/AtlasRadiusWhite.png');
}

.sextant.toggle {
  background-image: url('Art/2DItems/Currency/AtlasRadiusRed.png');
}

.orb {
  background-image: url('Art/2DItems/Currency/UpgradeMapToYellow.png');
}

.orb.toggle {
  background-image: url('Art/2DItems/Currency/UpgradeMapToRed.png');
}